.projects {
    position: relative;
    z-index: 1;
    background-color: #082032;
    color: white;
    padding: 80px 0 40px;
}

.projects > div:nth-child(1) {
    font-size: 50px;
    margin-bottom: 50px;
}

.projects > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.projects > div:nth-child(2) > div {
    width: 42%;
    margin: 2%;
    padding: 2%;
    box-shadow: rgba(121, 121, 121, 0.2) 0px 7px 29px 0px;
    text-align: left;
    background-color: #2C394B;
}

.projects > div:nth-child(2) > div > div:nth-child(1) > p:nth-child(1) {
    font-size: 22px;
    margin: 0;
}

.projects > div:nth-child(2) > div > div:nth-child(1) > img {
    width: 100%;
    margin-top: 20px;
}

.projects > div:nth-child(2) > div > div:nth-child(2) > a > button {
    width: 100px;
    height: 30px;
    background-color: #082032;
    color: white;
    font-size: 15px;
    border: 0;
    cursor: pointer;
}

.projects > div:nth-child(2) > div > div:nth-child(2) > a > button:hover {
    color: #082032;
    background-color: white;
}

.projects > div:nth-child(2) > div > div:nth-child(2) > a > button:nth-child(1) {
    margin-right: 10px;
}




@media (max-width: 560px) {
    .projects > div:nth-child(2) > div {
        width: 100%;
    }
}